body {
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
  position: relative;
  user-select: none;

  /* min-height: 250vh; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*samall*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
/*end of global rules*/

/* start main req */

:root {
  --main-color: #550065;
  --sec-color: #eeeee4;
  --hover-link: #d5c46c;
}

/* START OP BAR */
.top-bar {
  background-color: #460065;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-bar .logo img {
  max-width: 70px;
}

.top-bar .top-links a {
  color: #fff;
  font-size: 11px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.top-bar .top-links a:hover {
  color: #d5c46c;
}
/* end top bar */
/* start landing */
.landing {
  height: 95.5vh;
  background-color: var(--main-color);
  padding-top: 20px;
}

.landing .container .logo img {
  max-width: 110px;
}

.landing .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .container nav .links ul li a:hover {
  color: var(--hover-link);
}

.landing .container .flex {
  display: flex;
  justify-content: space-between;
}

nav .container .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: var(--main-color);
}

ul li a {
  color: #000;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav .container .all .logo img {
  max-width: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.links i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 0;
  display: none;
  cursor: pointer;
}

.links {
  position: relative;
}

@media (max-width: 780px) {
  .links i {
    display: block;
    right: 26px;
  }
  nav {
    transition: 2s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    /* background-color: #fff; */
    color: var(--main-color) !important;
  }

  .links {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #022c43;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    height: 0px;
  }
  .links .icon i {
    color: #fff;
  }

  nav ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: none;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-220px, -13px);
    top: 50px;
    -webkit-transform: translate(-220px, -13px);
    -moz-transform: translate(-220px, -13px);
    -ms-transform: translate(-220px, -13px);
    -o-transform: translate(-220px, -13px);
    z-index: 5456456485648648489;
  }
  nav ul li {
    padding: 20px;
    font-size: 25px;
    color: #ffd700;
  }
  nav ul li a {
    color: #fff;
    font-size: 20px;
  }
  nav.active {
    height: 388px;
  }
  .bar .container {
    width: 100%;
  }

  .bar .container .all {
    border-bottom: 1px solid var(--main-color);
  }
  nav.active ul {
    display: block;
  }
  p#animation {
    color: var(--main-color);
  }
  ul li:hover {
    border-bottom: 1px solid #fff;
  }

  ul li {
    padding-bottom: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-bottom: 1px solid var(--sec-color);
  }
  .bar .container {
    border-bottom: 1px solid #fff;
  }
}
.landing .container {
  width: 90%;
}
.landing .container .second-landing .left .image img {
  max-width: 200px;
}

.landing .container .second-landing .cor-img img {
  max-width: 30px;
}

.landing .container .second-landing .left .image img {
  max-width: 200px;
  position: absolute;
  top: 200px;
  left: 171px;
}

.landing .container .second-landing .con {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  max-width: 40%;
  min-width: 235%;
  height: fit-content;
  margin-bottom: 20px;
  cursor: pointer;
}

.landing .container .second-landing .cor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
.landing .container .second-landing .cor p {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.landing .container .second-landing .left .ff {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .container .second-landing .left .ff p.time {
  text-align: center;
}

.landing .container .second-landing .left p.one,
.landing .container .second-landing .left p.two {
  color: #505b73;
  font-size: 12px;
}

.rcont {
  position: relative;
}

.rcont p.date {
  position: absolute;
  top: -80px;
  width: 91px;
  right: -5px;
  color: #505b73;
  font-size: 12px;
}

.rcont p.time {
  position: absolute;
  top: 7px;
  right: 9px;
  font-weight: bold;
}

.landing .container .second-landing .left {
  margin-top: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .container .second-landing .left h5 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 20px;

  display: none;
}

.landing .container .second-landing .right .images img {
  width: 1250px;
  height: 700px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  margin-left: 390px;
  margin-top: 14px;
}

.landing .container .second-landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .landing .container .second-landing .right .images img {
    margin-left: 0px;
    margin-top: 0px;
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .landing {
    height: 130vh;
  }

  .landing .container .second-landing .con {
    min-width: 90%;
  }
  .landing .container .second-landing .left .image img {
    max-width: 200px;

    margin-left: 92px;
  }
  h5 {
    text-align: center;
  }

  .landing .container .second-landing {
    display: block;
    justify-content: space-around;
    align-items: center;
  }
  .landing .container .second-landing .left h5 {
    display: block;
  }
  .landing .container .second-landing .left .image img {
    position: unset;
  }
  .landing .container .second-landing .left {
    margin-top: 35px;
  }
}

.landing .container .second-landing .right .images {
  position: relative;
}

.landing .container .second-landing .right .images i {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #fff;
  background-color: #D11B47;
  /*padding: 20px;
  */width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.landing .container .second-landing .right .images i:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}




/* end landing */
